body {
  background-image: url("ho.jpg");
  background-color: #cccccc;
 }
 


  label {
    color: #ccc;
  }
  .header{
    color: #fffbfb;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-content: center;
  }
  
  /* Set a style for all buttons */
  button {
    border-radius: 20px;
		color: white;
		height: 40px;
		width: 150px;
		background-color:rgb(47, 255, 127);
		margin-left:10px;
		margin-top: 50px;
  
    
    
    
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float:center;
    text-decoration-color: rgb(226, 201, 201);
   
  }
  .user-message {
    margin: auto;
    width: 90%;
    border: 1px solid #4771fa;
    padding: 0.5rem;
    border-radius: 3px;
    background: #b9c9ff;
    text-align: center;
  }
  
  .user-message--error {
    border-color: rgb(241, 233, 233);
    background: rgb(241, 235, 204);
    color: rgba(13, 19, 12, 0.863);
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: left;
      color: rgb(241, 235, 235);
    }
    .cancelbtn {
      width: 100%;
    }
  }
  